div{
      padding: 20px; 
      margin-top: 30px;
      background-image: url("../IMG_20230610_162052.jpg");
      background-size: cover;
      background-position: 0% 25%;
      background-attachment: fixed;
}
body{
      margin: 0;
     }
  #youtube{
    width:20px;height:20px;
  }
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: brown;
  position: fixed;
  top: 0;
width: 100%;
}

li {
  float: left;
}
li a {
  display: block;
  color: #000;
  padding: 10px 20px;
  text-decoration: none;
}
li a:hover {
  background-color: red;
  color: white;
}
li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #04AA6D;
}
